*{
  padding: 0;
  margin: 0;
}
.main{
  
}
.text{
  font-size: 30px;
  text-align: center;
  background-color: rgb(0, 0, 0);
  color: rgb(253, 253, 253);
  
}
/* .five{
  top: 35px;
  left: 40px;
} */
#bg_sky{
    width: 25%;
    height: 350px;
    margin-bottom: -4px;

}
#bg_earth{
  z-index: -10;
  width: 100%;
  height: 250px;
  overflow: hidden
}
#images {
  position: absolute;
  top: 35px;
  left: 40px;
  z-index: 2;
}
#tree{
  height: 580px
}
#rook_small{
  position: absolute;
    top: -300px;
    left: 100px;
}
#pawn{
  position: absolute;
  top: 250px;
  left: 320px;
}
#small_tree{
  position: absolute;
    top: 230px;
    left: 550px;
    
}
#alicerun{
  height: 90%;
  position: absolute;
  top: 380px; 
  left: 750px;
  transform: translate(-50%, -50%);
  overflow: hidden;
  width: 800px;
  z-index: 1;
}
#knight {
  position: absolute;
  top: -410px;
  left: 0px;
  z-index: 1;
  }
  #rook {
    position: absolute;
    top: -320px;
    left: 900px;
    z-index: 4;
  }
  #bush {
    position: absolute;
    top: 380px;
    left: 5px;
  }
  #pawn_small {
    position: absolute;
    top: 500px;
    left: 0;
  }
  #rook_small{
    position: absolute;
    top: 320px;
    left: 1000px;
  }
